@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');
body {
  margin: 0;
  font-family: 'Baloo Thambi 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#mid {
  padding-top: 0.5cm;
}

#informal {
  color: royalblue;
}
#noERR {
  text-align: center;
}
#TPimg {
  width: 100%;
}
#pageTitile {
  text-align: center;
}
tp {
  text-decoration: solid;
  color: rgb(80, 87, 94);
}
#show {
  border: none;
  background-color: black;
  color: white;
}
#about2 {
  text-decoration: solid;
  color: rgb(80, 87, 94);
  padding-top: 0.5cm;
}
#wasis{
  color: chocolate;
}
#wasis:hover + #wasOPT{
  display: inline;
}
#wasOPT {
  display: none;
  border: solid;
  border-width: 0.001cm;
  color:blue;
}
#wasOPT:hover {
  display: inline;
}

.headIMG{
  height: 10cm;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthenypost.files.wordpress.com%2F2018%2F11%2Fbooks-jan-karon.jpg%3Fquality%3D90%26strip%3Dall%26w%3D1200&f=1&nofb=1");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#codeSpan {
  background-image: url('../src/components/code.png');
  height: 4cm;  
  background-attachment: fixed;
}

#aboutP {
  width: 100%
}

#tamplate {
  overflow: auto;
}

#span1 {
  background-color: lightgrey;
  text-align: center;
}

#span2 {
  background-color: lightgray;
}

#titleSPAN {
  color: white;
  padding-top: 3.5cm;
}

#so {
  color: red;
}
#so:hover + #soOPT{
  display: inline;
}
#soOPT {
  display: none;
  border: solid;
  border-width: 0.001cm;
  color:blue;
}
#soOPT:hover {
  display: inline;
}

better{
  background-color: aquamarine;
}

#err {
  background-color: lightcoral;
}
#fix {
  display: none;
  background-color: lightgreen;
}
#err:hover + #fix {
  display: inline;
}
#err:active + #fix {
  display: inline;
}
#fix:hover {
  display: inline;
}

#issue {
  color: lightcoral;
}
#fixForIssue {
  color: green;
}
#fixP {
  display: inline;
  background-color: lightgreen;
}
#navI {

}
#navI:hover {
  text-decoration: underline;
}
#navI:active {
  text-decoration: underline;
}