body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#mid {
  padding-top: 0.5cm;
}

#informal {
  color: royalblue;
}
#noERR {
  text-align: center;
}
#TPimg {
  width: 100%;
}
#pageTitile {
  text-align: center;
}
tp {
  text-decoration: solid;
  color: rgb(80, 87, 94);
}
#show {
  border: none;
  background-color: black;
  color: white;
}
#about2 {
  text-decoration: solid;
  color: rgb(80, 87, 94);
  padding-top: 0.5cm;
}
#wasis{
  color: chocolate;
}

#tamplate {
  overflow: auto;
}